

SELECT COUNT(1) FROM BNMX_LogFiles WITH(NOLOCK)
SELECT COUNT(1) FROM STG_BNMX_PayLink WITH(NOLOCK)
SELECT COUNT(1)  FROM STG_2_BNMX_Trans_RegistroPagos_PAY WITH(NOLOCK)
SELECT COUNT(1)  FROM STG_2_BNMX_Trans_RegistroPagos_TRL WITH(NOLOCK)
